<!DOCTYPE html>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	
	<script src="nvd3/build/nv.d3.js"></script>
	<script src="underscore/underscore.js"></script>
	



<meta charset="utf-8">
<style>

circle,
path {
  cursor: pointer;
}

circle {
  fill: none;
  pointer-events: all;
}

</style>
<body>
<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Blue</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Drilldown</a></li>
      </ul>
    </div>
  </div>

  <div id="filter"><div>
  <svg id="paracord">
  </svg>

<script>
var ageDistribution = {};
function iteratee(value, key, list){
	if(!ageDistribution[value["Range Age"]]){
		ageDistribution[value["Range Age"]] = 1;
	}
	else 
		ageDistribution[value["Range Age"]]++;
}
function plot(value, key, list){
	d3.append("#paracord")x1
}

 function getData()  {
   $.get('/data', {}, function(data){
		_.each(data, iteratee);
		_.each(ageDistribution, plot) 	
  });




   

}

getData();

var paracord = d3.select("#paracord")
	.attr("width", 700)
	.attr("height", 700)
	.append("line")
	.attr("class", "line")
	.attr("x1", 100)
	.attr("x2", 100)
	.attr("y1", 0)
	.attr("y2", 300)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 110)
	.attr("x2", 90)
	.attr("y1", .5)
	.attr("y2", .5)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 110)
	.attr("x2", 90)
	.attr("y1", 300)
	.attr("y2", 300)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");

d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 300)
	.attr("x2", 300)
	.attr("y1", 0)
	.attr("y2", 300)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 310)
	.attr("x2", 290)
	.attr("y1", .5)
	.attr("y2", .5)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 310)
	.attr("x2", 290)
	.attr("y1", 300)
	.attr("y2", 300)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 500)
	.attr("x2", 500)
	.attr("y1", 0)
	.attr("y2", 300)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 510)
	.attr("x2", 490)
	.attr("y1", .5)
	.attr("y2", .5)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.select("#paracord").append("line")
	.attr("class", "line")
	.attr("x1", 510)
	.attr("x2", 490)
	.attr("y1", 300)
	.attr("y2", 300)
	.attr("stroke-width", 2)
	.attr("stroke", "gray");
d3.selectAll("line")
	.on("mouseover", function(d) {
		d3.select(this).style("stroke", "red");
	})                  
	.on("mouseout", function(d) {
		d3.select(this).style("stroke", "#fff8ee");
	});
function iteratee(value, key, list){
	if(!ageDistribution[value["Range Age"]]){
		ageDistribution[value["Range Age"]] = 1;
	}
	else 
		ageDistribution[value["Range Age"]]++;
}



</script></body>